/* remover o espaçamento esquerdo padrão da classe */
.container-fluid{
    padding:0;
}

/* Navbar */
.navbar{      /* borda inferior e margem para o conteudo não colar na barra */
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
    font-size: 20px;
}

.navbar-nav{  /**/
    margin: auto;
}

.navbar-brand{ /* destaque*/
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link{ /*padrão dos links */
    color: #333;
    letter-spacing: 1px;
}

/* Botão de Adicionar */
#add-link{
    text-decoration: none;
}

.add-div{
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus{
    color: #FFF;
    margin-left: 5px;
    margin-right: 10px;
}

.btn btn-success{
    background-color: #3476e2;
}

/* Busca */
.fas.fa-search{
    position: absolute;
    top: 12px;
    right: 26px;
}

.serch-div{
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block
}


/* Lista de Tarefas */
.list-div{
    padding: 0;
}

.task-list{
    padding-left: 0;
}

.task-item{
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px dashed #ccc;
}
.fas.fa-trash, .fas.fa-edit{
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-trash{
    color: #db1e47;
}

.fas.fa-edit{
    color: #13c43f;
}

/* Rodapé*/

footer{

    background-color: #333;
    height: 100px;
    border-top: 2px solid #202020;
}

footer p{
    color: #f5f5f5;
    text-align: center;
    font-size: 15px;
    line-height: 0.5;
    /* top: 50%; */
    /* position: relative; */
}

/* Mensagens tem que limpar o cache ctrl+shift+r  */
ul.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/* paginação */
.paginacao {
    margin-bottom: 20px;
}
   
.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.current {
    margin-left: 15px;
    margin-right: 15px;
}

/* Login e Logout */
.auth-card {
    margin-bottom: 30px;
}

.change-form-p {
    margin-top: 300 px;
    text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  meulogin {
      margin-top: 10px;
  }

  /* Tela inicial */
 .home_up{
    background-color: #000;
    color:#e4ac4a;   
    text-align: justify;
    position: relative;
    text-align: center;
    margin-bottom: 20 px;

 }

  .listabene {
    width: 60%;
    display: inline-block;
    vertical-align: top;

}

.par {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.para {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.imgt {
    width: 100px;
}

.paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}
.imagemsis{

    display: inline;
    top: 110px;
    right: 22220;
}
.imagemtep {
    width: 200px;
    filter: opacity(0.4) drop-shadow(0 0 0 whitesmoke);
}
.imagembene {
    position: relative;
    display: inline-block;
    padding: 10px 20px 5px 10px;
    width: 350px;
    margin: 20px 5px 10px;
    box-shadow: 10px 10px 16px;
}